@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-family: 'Poppins', sans-serif;

}
.hero-section{
    background-color: #f7f5f0;
}
.main-hero{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.para{
    width: 80%;
}
.left-hero h1{
padding-bottom: 50px;
font-size: 40px;
font-family: var(--font-family);


}

.left-hero h6{
    font-size: 18px;
    line-height: 1.5;
    font-family: var(--font-family);


}
/* ===========right - hero ====================== */

.right-hero h1{

    font-size: 40px;
    color: rgb(66, 66, 224);
    font-family: var(--font-family);
    padding-bottom: 100px;
 }

.right-hero{
    padding: 50px;
    width: 100%;
}

.right-hero button {
     background-color: none;
     border: 2px solid rgb(6, 6, 7)!important;
     border: none;
     padding: 10px 40px;
     font-size: 18px;
     line-height: 2;
     font-family: var(--font-family);
     
}
/* ====================who we are======================================== */
.who-we-content h4{
    font-size: 30px;
    font-family: var(--font-family);
    font-weight: 500;
    padding-top: 50px;
}
.who-we-content p{
    font-size: 20px;
    color: black;
    font-weight: 400;
}
/* ===================our-altimate-goal========================================== */
.our-goal-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-goal-container p{
    color: black;

}
.main-goal-left{
    padding: 100px;
}
.main-goal-left h1{
    font-size: 40px;
    line-height: 2;
    font-family: var(--font-family);
}
.main-goal-left p{
    font-size: 18px;
}
/* =======================about us==================================== */
.about-us{
    padding: 100px 0px;
    
    background-color: #f7f5f0;
}
.about-us-left h4
{
    padding-top: 100px;
    color: rgb(34, 28, 28)!important;
    font-size: 30px;
    font-family: var(--font-family);

}

.about-us-right{


display: flex;
justify-content: center;
align-items: center;

}

.first-list,.second-list,.third-list{
    
    padding: 10px;

}

.about-first-list ul li,.about-second-list ul li,.about-third-list ul li {
line-height: 3;
list-style: none;
font-size: 30px;
color: #000;
border-bottom: 2px solid #000;
}

/* ==========our-client-solution========================== */
.our-client-solution{

    background-color: #2175d9;
    padding: 100px 0px;
    

}
.our-client-left h4{
    padding-top: 50px;
    color: #fff;
    font-size: 30px;
    font-family: var(--font-family);

}

.our-client-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-list,.second-list {
    padding: 10px;

}
.first-list ul li{
line-height: 3;
list-style: none;
font-size: 30px;
color: #fff;
border-bottom: 2px solid #fff;
}
.second-list ul li{
    
    line-height: 3;
    list-style: none;
    font-size: 30px;
    color: #fff;
    border-bottom: 2px solid #fff;
}
/* ===============================find job container=========================================== */
.find-job-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.find-your-job{

padding: 100px 0px;
}
.find-job-container h1{
    font-size: 40px;
    color: #000;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 2;
}

.find-job-container h2{
    font-size: 40px;
    color: #2175d9;
    font-family: var(--font-family);
    font-weight: 600;

}
.btn-outline-primary{
    padding: 10px 40px!important;
    font-size: 18px;
    color: rgb(54, 125, 218)!important;
    border-color: #3073c5;
}
.btn-outline-primary:hover{
    background-color: rgb(74, 123, 216)!important;
    
    padding: 10px 40px!important;
    font-size: 18px;
    color: #fff!important;
    border-color: #4a97f5;
}



@media only screen and (max-width: 769px) {

    .para{
        width: 100%;
    }

    .main-hero{
    
        flex-direction: column;
        
        
    }

    
    
    .how-container{
        flex-direction: column;

    }
    .who-we-content{
        flex-direction: column;
    }
    .our-goal-container{
        flex-direction: column;
    }
    
    .about-us-right{
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center;
    }
    
    .about-first-list ul li,.about-second-list ul li,.about-third-list ul li {
        line-height: 3;
        text-align: center;
    }
    .first-list,.second-list{
        line-height: 1.5;

    }
    .about-us-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-us-left h4{
        text-align: center;
    }
    .our-client-right{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .our-client-left h4{
        text-align: center;
    }
    .Our-client {
        flex-direction: column!important;
        justify-content: center;
        align-items: center;
    }
    .right-hero h1{

        
        padding-bottom: 50px;
     }
    
    .find-job-container{
    flex-direction: column;
}

.right-hero{
    padding: 0px;
    padding-top: 20px!important;
    width: 100%;
}
.my-container{
    padding: 50px;
}

.footer-container{
    flex-direction: column!important;
    justify-content: center;
    align-items: center;
}
.main-goal-left{
    padding: 50px;
}
.main-goal-right img{

    padding: 30px;
}

}

@media only screen and (max-width: 400px) {

    .main-goal-left{
        padding: 50px;
    }  
    
}